<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a routerLink="home" class="brand-link">
                <i class="fa-solid fa-gamepad"></i>
            </a>
        </div>
        
        <button class="hamburger" (click)="toggleNavbar()">
            <i class="fa-solid fa-bars"></i>
        </button>
        
        <ul class="navbar-list" [ngClass]="{'active': isNavbarOpen}">
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/quien-soy">Sobre mí</a></li>
            <li *ngIf="!userInLocalStorage"><a routerLink="/login">Login</a></li>
            <li *ngIf="!userInLocalStorage"><a routerLink="/registro">Registrarse</a></li>
            <li *ngIf="userInLocalStorage">
                <button (click)="logOut()" class="logout-button">Logout</button>
            </li>
        </ul>
    </div>
</nav>
