<!-- src/app/bienvenido/bienvenido.component.html -->
<section class="bienvenido-section">
    <div class="bienvenido-container">
      <h1>¡Bienvenido!</h1>
      <p class="mensaje-bienvenida">
        Nos alegra verte de nuevo. ¿Cómo podemos ayudarte hoy?
      </p>
      <div class="acciones-container">
        <!-- Esto de calculadora esta demas solo iria lo de login -->
        <button [routerLink]="['/quien-soy']" class="accion-boton btn_quiensoy">Quien soy</button>
        <button [routerLink]="['/login']" class="accion-boton btn_login">Login</button>

      </div>
    </div>
  </section>
