.resultados-container {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: 40px auto;
  }
  
  h1, h2 {
    color: #ecf0f1;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los botones se ajusten en varias líneas */
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .resultados-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Courier New', monospace;
    margin-top: 20px;
  }
  
  .resultados-table th,
  .resultados-table td {
    padding: 12px;
    text-align: center;
    color: #ecf0f1;
    border-bottom: 1px solid #34495e;
  }
  
  .resultados-table th {
    background-color: #3498db;
    font-weight: bold;
  }
  
  .resultados-table tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .resultados-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .resultados-table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.02);
  }
  
  /* Media Queries para Responsividad */
  @media (max-width: 600px) {
    .button-container {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
      align-items: center; /* Alinear botones al centro */
    }
  
    .resultados-table th,
    .resultados-table td {
      padding: 8px; /* Reducir espaciado en la tabla */
      font-size: 2.4vw; /* Reducir tamaño de fuente */
    }
  
    h1, h2 {
      font-size: 1.5em; /* Ajustar tamaño de fuente de encabezados */
    }

  }
  