<!-- src/app/login/login.component.html -->
<!-- Puedo agregar un boton de volver a home acá -->
<section class="login-section">
    <div class="login-container">
      <h1>Login</h1>
      <form (ngSubmit)="onLogin()" class="login-form">
        <div class="form-group">
          <label for="nombre">Usuario:</label>
          <input id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required autocomplete="username">
        </div>
  
        <div class="form-group">
          <label for="clave">Clave:</label>
          <input id="clave" [(ngModel)]="usuario.clave" name="clave" type="password" required autocomplete="current-password">
        </div>
  
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </section>
