<section class="login-section">
  <div class="login-container">
    <h1>Login</h1>
    <form (ngSubmit)="onLogin()" class="login-form">
      <div class="form-group">
        <label for="Email">Email:</label>
        <input id="email" [(ngModel)]="email" name="email" required autocomplete="email">
      </div>

      <div class="form-group">
        <label for="clave">Clave:</label>
        <input id="clave" [(ngModel)]="password" name="password" type="password" required autocomplete="current-password">
      </div>

      <div class="form-group">
        <button type="submit" class="btn_login" [disabled]="isLoading">Login</button>
      </div>

      <div *ngIf="isLoading" class="spinner"></div> <!-- Spinner -->
      <!-- Mostrar mensaje de error -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>

    <!-- Botones de acceso rápido -->
    <div class="quick-login-buttons">
      <button (click)="quickLogin('pepe@gmail.com', 'pepe123')">Login como Pepe</button>
      <button (click)="quickLogin('romeo@gmail.com', 'Romeo123')">Login como Romeo</button>
    </div>

    <!-- Enlace para registro -->
    <div class="register-link">
      <p>No tienes cuenta? <a [routerLink]="['/registro']">Regístrate aquí</a></p>
    </div>
  </div>
</section>
