.encuesta-container {
    background-color: #2c3e50; /* Fondo oscuro */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    color: #ecf0f1; /* Color del texto */
    font-family: 'Press Start 2P', cursive; /* Fuente de estilo retro */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #3498db; /* Color de borde */
    border-radius: 5px;
    background-color: #ecf0f1; /* Color de fondo de los campos */
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px; /* Espaciado entre input y texto */
  }
  
  button {
    background-color: #3498db; /* Color de fondo del botón */
    color: #ecf0f1; /* Color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9; /* Color del botón al pasar el mouse */
  }
  
  .pregunta {
    margin-bottom: 20px; /* Espacio entre preguntas */
  }
  
  .options {
    margin-left: 20px; /* Espaciado para las opciones */
  }
  
  small {
    color: red;
    font-size: 12px;
  }
  