.mayor-menor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto;  */
  /* margin-bottom: 80px;  */
  background-color: #ffffff; /* Fondo blanco para contraste */
  border-radius: 15px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
  padding: 119px 20px; 
  height: 100%; 
  /* max-width: 100vw; */
  position: relative; /* Para posicionar el fondo */
  overflow: hidden; /* Para evitar que los hijos sobresalgan */
}

.mayor-menor-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(0, 123, 255, 0.2), rgba(255, 255, 255, 0));
  z-index: 0; /* Colocar detrás del contenido */
  border-radius: 15px; /* Bordes redondeados */
}

.carta-container {
  margin: 20px 0; 
  z-index: 1; /* Asegura que las cartas estén delante del fondo */
}

.carta {
  width: 200px; 
  /* border: 2px solid #007bff;  */
  border-radius: 5px; 
  transition: transform 0.2s; 
  z-index: 1; /* Asegura que la carta esté delante del fondo */
}

.carta:hover {
  transform: scale(1.05); 
}

.botones {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 1; /* Asegura que los botones estén delante del fondo */
}

.botones button {
  margin: 0 10px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.botones button:hover {
  background-color: #0056b3; 
}

.mensaje {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  text-align: center; 
  z-index: 1; /* Asegura que el mensaje esté delante del fondo */
}

.puntos {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px; 
  color: #007bff; 
}
