<!-- <div class="mayor-menor-background"> -->
    <div class="mayor-menor-container">
      <h1 class="titulo">¿Mayor <span class="or-text">o</span> Menor?</h1>
      
      <div class="cartas-container">
        <div class="carta-container">
          <img [src]="'images/cartas/' + cartaActual" alt="Carta Actual" class="carta"/>
        </div>
  
        <div class="carta-container carta-dada-vuelta">
          <img src="images/cartas/carta_reves2.png" alt="Carta Dada Vuelta" class="carta" />
        </div>
      </div>
  
      <div class="botones">
        <button (click)="verificarSeleccion('mayor')" class="boton">Mayor</button>
        <span class="or-text">¿o?</span>
        <button (click)="verificarSeleccion('menor')" class="boton">Menor</button>
      </div>
  
      <div class="puntos">Puntos: {{ puntos }}</div>
      <div class="cartas-restantes">Cartas restantes: {{ cartasRestantes }}</div>
  
      <div *ngIf="mensaje === 'No quedan más cartas. Fin del juego.'">
        <button (click)="reiniciarJuego()" class="boton reiniciar-boton">Reiniciar Juego</button>
      </div>
    </div>
  <!-- </div> -->
  