<mat-card class="alumno-container">
    <div class="content-container">
      <div class="image-section">
        <img [src]="imagen" alt="Imagen del Alumno" class="alumno-image" />
      </div>
      <div class="info-section">
        <mat-card-header>
          <!-- <mat-card-title>Quién soy</mat-card-title> -->
           <h1>Quién soy</h1>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Nombre:</strong> Cristian Delgado</p>
          <p><strong>Edad:</strong> 23 años</p>
          <p><strong>Estudios:</strong> Tecnicatura en Programación en la UTN</p>
  
          <h2>Sobre mi Juego: La Viborita</h2>
          <p>
            <strong>La Viborita</strong> es un juego clásico donde controlas una serpiente que debe comer comida en un tablero, creciendo sin chocar con las paredes o con vos mismo.
          </p>
  
          <h3>Cómo Jugar</h3>
          <p>
            Usa las teclas de flecha para dirigir la serpiente. Al comer, crecerá y el desafío aumentará.
          </p>
          </mat-card-content>
      </div>
    </div>
  </mat-card>
  