<div class="alumno-container">
  <div class="home-button-container">
    <a routerLink="home" class="home-button">Inicio</a>
  </div>

  <div class="image-section">
    <img src="https://gyazo.com/54e22f567e0c49fe4345d3f165d73c3a.jpg" alt="Imagen del Alumno" class="alumno-image" />
  </div>

  <div class="info-section">
    <h1>Quién soy</h1>
    <p><strong>Nombre:</strong> Cristian Delgado</p>
    <p><strong>Edad:</strong> 23 años</p>
    <p><strong>Estudios:</strong> Tecnicatura en Programación en la UTN</p>

    <h2>Explicación del Juego Propio: Test de Reflejos</h2>
<p>
  <strong>Test de Reflejos</strong> es un juego diseñado para medir y desafiar la rapidez de tus reflejos. Se basa en la premisa simple de reaccionar ante estímulos visuales, similar a las pruebas de reflejos de Human Benchmark.
</p>

<h3>Cómo Jugar</h3>
<p>
  <strong>Objetivo del Juego:</strong> El objetivo es hacer clic en el botón de reacción tan rápido como sea posible cuando se ilumine. Cuanto más rápido respondas, mejor será tu puntuación.
</p>
<p>
  <strong>Inicio del Juego:</strong> Cuando el juego comienza, el botón de reacción estará desactivado y de color gris. Debes esperar hasta que se ilumine de color verde, momento en el cual debes hacer clic en él lo más rápido posible.
</p>
<p>
  <strong>Temporizador de Reacción:</strong> Después de que el botón se ilumine, tendrás un breve período de tiempo para hacer clic. El tiempo que tarda en iluminarse es aleatorio, por lo que debes estar atento.
</p>
<p>
  <strong>Medición del Tiempo:</strong> El juego mide el tiempo entre el momento en que el botón se ilumina y el momento en que haces clic. Este tiempo se muestra como tu tiempo de reacción.
</p>
<p>
  <strong>Objetivo:</strong> Reducir el tiempo de reacción en cada intento para mejorar tu puntuación y desafiar tus reflejos.
</p>

<h3>Características del Juego</h3>
<ul>
  <li><strong>Interfaz Sencilla:</strong> Un diseño limpio con un botón de reacción claramente visible.</li>
  <li><strong>Medición Precisa:</strong> Calcula el tiempo de reacción con alta precisión.</li>
  <li><strong>Historial de Resultados:</strong> Guarda y muestra tus mejores tiempos de reacción para seguimiento y comparación.</li>
  <li><strong>Modo de Práctica:</strong> Permite repetir la prueba para mejorar tus reflejos y habilidad.</li>
</ul>
  </div>
</div>
