/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    height: 100%; /* Asegura que ocupen toda la altura */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
